.App {
  text-align: center;
  margin: auto;
  padding: auto;
}

.nav {
  width: 100%;
  background-color: black;
  height: 40px;
}

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}
